/*Style Shstyle*/

.w3-container{

    width: 100%;
    height: 10%;
    padding: 1.8%;
    background-color: #eee
}

.media{

    padding-top: 10px;
}

.media-body{

    text-align: center;
}

.dropdown-menu{

    background-color: #e9ecef;
}

.navbar{

    padding-top: 0;
}

.nav-link{

    color: black;
}

.nav-link .hover{

    color: blue;
}

@media (max-width: 800px) {

    .navbar-toggler-icon{

        height: 10px;
    }

    .burger{

        height: auto;
        justify-content: center;
    }

    .navbar-toggler{
        
        height: auto;
        width: auto;
    }

    .navbar-nav{

        background-color:#eee;
        border-radius: 10px;
        float: none;
        width: auto;
        margin: auto;
        margin-top: 15px;
    }

    .nav-link{

        position: center;
        text-align: center;
    }

    .dropdown-menu{

        padding: 0;
    }

    .dropdown-item{

        text-align: center;
        padding: 0;
    }

    .line{

        background: black;
        height: 2px;
        width: 35px;
        margin: 5px;
        justify-content: center;
    }

    .SocialMediaLogos{

        height: 25px;
        display: flex;
    }

    .w3-container{

        width: 100%;
        height: 15%;
        margin: 0;
    }

    .align-self-center{

        height: 50px;
    }
}
  